  /* 바디 내용 시작 */
  .container {
      margin: 8vh 0 50px 0;
  }

  /* 프로젝트 설명 */
  .project-info {
      margin: 4vw 0 6vw 0;

      display: flex;
  }

  .info_left {
      width: 45vw;
      margin-right: 5vw;
  }

  .info_right {
      flex: 1;
      padding-right: 8vw;
  }

  .title {
      font-size: 2.5vw;
      letter-spacing: -0.02em;
      line-height: 120%;
  }

  .caption {
      font-size: 1.2vw;
      font-weight: 400;
      letter-spacing: 100%;
      line-height: 155%;

      margin-bottom: 3vw;
  }

  /* 프로젝트 관련 페이지 */

  .info-page {
      color: rgba(0, 0, 0, 0.45);
      margin-right: 5vw;

      font-weight: 400;
      font-size: 1.25vw;
      letter-spacing: 100%;
      line-height: 145%;

      margin-bottom: 3.3vw;
  }

  /* 프로젝트 크레딧 */

  .info-credit {
      font-size: 1.25vw;
      line-height: 145%;
  }

  .credit_image-gallery {
      display: flex;

      border-top: 1px solid rgba(0, 0, 0, 0.45);
      margin-top: 0.5vw;
      padding-top: 0.5vw;
  }

  .credit_1 {
      width: 35%;
  }

  .credit_2 {
      flex: 1;
  }

  /*IMG IMG 이미지 설정*/

  .container img {
      max-width: 100%;
      height: auto;

      margin-bottom: 2.5vh;
  }

  /*세로이미지*/
  .img-vertical {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 2.5vh;
  }

  .img-vertical>img {
      width: 50%;
      margin: 0;
  }

  /*IMG IMG 중간 글*/

  .mid_text {
      font-weight: 400;
      font-size: 0.9vw;
      letter-spacing: 0.01em;
      line-height: 155%;

      color: rgb(135, 135, 135);
      text-align: center;
      padding: 3.5vh 0 6vh 0;
  }





  /* 모바일사이즈  모바일사이즈  모바일사이즈 */
  @media only screen and (max-width: 700px) {
      .container {
          margin: 10vh 0 7.5vw 0;
      }

      /* 프로젝트 설명 모바일사이즈 */
      .project-info {
          margin: 5vw 2vw 7.5vw 2vw;

          flex-direction: column;
      }

      .info_left {
          width: 80vw;
      }

      .info_right {
          padding-right: 0vw;
      }

      .title {
          font-size: 7.4vw;
          letter-spacing: 0em;
          line-height: 120%;

          margin-bottom: 5vw;
      }

      .caption {
          font-size: 3.7vw;
          line-height: 160%;

          margin-left: 12vw;
          margin-bottom: 5vw;
      }

      /* 프로젝트 관련 페이지 모바일 */

      .info-page {
          margin-left: 12vw;
          margin-bottom: 5vw;
      }

      .info-page,
      .info-page a {
          font-size: 3.9vw;
      }

      /* 프로젝트 크레딧 모바일*/

      .info-credit {
          margin-left: 12vw;
          margin-top: 7vw;

          font-size: 3.9vw;
          line-height: 140%;
      }

      .credit_image-gallery {
          display: flex;

          border-top: 1px solid rgba(0, 0, 0, 0.45);
          margin-top: 0.5vw;
          padding-top: 0.5vw;
      }

      .credit_1 {
          width: 23%;
      }

      /*IMG IMG 이미지 설정 모바일*/

      .container img {
          margin-bottom: 2.5vw;
      }

      /*세로이미지*/
      .img-vertical {
          margin-bottom: 2.5vw;
      }

      .img-vertical>img {
          width: 100%;
          margin: 0;
      }

      /*IMG IMG 중간 글 모바일*/
      .mid_text {
          font-size: 3.2vw;
          padding: 3.5vw 2.5vw 6vw 2.5vw;
      }
  }